<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epic Games</title>
    <script src="https://kit.fontawesome.com/885aa17366.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href='https://css.gg/search.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet"  type="text/css" href="/css/reset.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/root.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/cabecalho.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/main.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/pesquisa__links.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/expo.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/login.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/listMovie.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/dialog.css">
    <link rel="stylesheet" charset="UTF-8" type="text/css" href="/css/create.css">

</head>

<body>
    <header>
        {{#if logout}}
            <p class="logout">{{logout}}</p>
        {{/if}}
    </header>
    <main>
        <section class="container">
            <form class="login" action='/api/login/acess' method='POST'>
            {{#if message}}
                <p class="mensagem__sucess">{{message}}</p>
            {{/if}}
            {{#if erro}}
                <p class="mensagem__error">{{erro}}</p>
            {{/if}}
                <p class="login__text texto">Insira seu login</p>
                <input type="email" name="email" placeholder="Login" class="login__user texto">
                <input type="password" name="password" placeholder="Senha" class="login__password texto"></input>
                <button type="submit" class="login__submit texto">Entrar</button>
                <a href="/api/newAccount" class="create__login texto">Criar Conta</a>
            </form>
        </section>
        
    </main>
    
</body>
</html>